<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Skolēnu izvēlne</title>
</head>

<body>
  <div class="container p-1 my-1 bg-success text-white">
    <img src="../images/logo.png" alt="logo">
    
    <div class="container p-3 my-3 bg-warning text-white">
       
  
  <br>
  <div class="container">
    <h1>Atrodi sev piemērotāko pulciņu!</h1>
    <div class="form-group">
      <label for="joma" class="control-label">Izvēlies pulciņa veidu:</label>
                    <select id="joma" name="joma" class="form-control">
                      
                    </select>
                    
    </div>
  </div>
  <div class="container">
    <div class="form-group">
      <label for="pilsetas" class="control-label">Izvēlies, kurā pilsētā vai tās tuvumā atrodies:</label>
        <select id="pilsetas" name="pilsetas" class="form-control">
          <option>---</option>
      </select>
      </div>
  </div>
  <div class="container">
       <label for="vecums" class="control-label">Izvēlies vecumu:</label><br>
                    <select id="vecums" name="vecums" class="form-control">
                      <option>---</option>
                    </select>
  </div>
  <div class="container">
    <label for="diena">Izvēlies vēlamo dienu:</label>
    <select class="form-control" id="diena">
      <option>---</option>
      <option value="pirmdiena">Pirmdiena</option>
      <option value="otrdiena">Otrdiena</option>
      <option value="tresdiena">Trešdiena</option>
      <option value="ceturtdiena">Ceturtdiena</option>
      <option value="piektdiena">Piektdiena</option>
      <option value="sestdiena">Sestdiena</option>
      <option value="svētdiena">Svētdiena</option>

    </select>
  </div>
    <div class="container">
      <label for="sel5">Izvēlies vēlamo laiku:</label>
      <select class="form-control" id="laiks">
        <option value="none">---</option>
        <option value="7.00">7.00</option>
        <option value="8.00">8.00</option>
        <option value="9.00">9.00</option>
        <option value="10.00">10.00</option>
        <option value="11.00">11.00</option>
        <option value="12.00">12.00</option>
        <option value="13.00">13.00</option>
        <option value="14.00">14.00</option>
        <option value="15.00">15.00</option>
        <option value="16.00">16.00</option>
        <option value="17.00">17.00</option>
        <option value="18.00">18.00</option>
        <option value="19.00">19.00</option>
        <option value="20.00">20.00</option>
        
      </select>
    </div>
    <div class="container">
      
      <br>
      <button onclick="sutitDatus()" type="button" class="btn btn-info">Meklēt pulciņu!</button>
    </div>
    <script>
      window.onload=function(){
            joma=["---", "💃 Dejas", "🎼 Mūzika", "🎬 Teātra māksla", "⚽️ Sports", "🎨 Vizuālā māksla", "🔧 Tehniskā jaunrade", "🌿 Vides izglītība","💻 Informācijas tehnoloģijas", "📚 Akadēmiskā izglītība","❗ Citas programmas"]
            for(var i=0;i<joma.length;i++){
                var option = document.createElement("option"); 
                option.value=joma[i];
                option.textContent=joma[i];
                document.getElementById("joma").appendChild(option);
             }
              for(var i=2;i<20;i++){
                var option2 = document.createElement("option");
                option2.value=i;
                option2.textContent=i;
                document.getElementById("vecums").appendChild(option2);
              }
              fetch(' https://kalviskincis.github.io/interesu-izglitibas-IS/pilsetas.json')
                  .then(res => res.json()) // res ir teksta plūsma - atbilde no servera
                  .then(data => { // data ir masīvs ar JSON objektiem, iegūts no res
                      //for(var i =0; i<3;i++){ // cikls caur visu masīvu
                        for (var x in data[0]) {        // cikls caur viena JSON objekta visiem laukiem
                          var option3 = document.createElement("option");
                          option3.textContent= data[0][x];
                          document.getElementById("pilsetas").appendChild(option3);}
                        })
      } //beidzas windows.onload 

   //Funkcija nolasa datus un nosutis talak  
  function sutitDatus() {
    let joma = document.getElementById("joma").value;
    let pilsetas = document.getElementById("pilsetas").value;
    let vecums = document.getElementById("vecums").value;
    let diena = document.getElementById("diena").value;
    let laiks = document.getElementById("laiks").value;
    if(confirm(`Apstiprini savu izvēli: 
              Pulciņa veids: ${joma}
              Pilsēta: ${pilsetas}
              Vecums: ${vecums}
              Diena: ${diena}
              Laiks: ${laiks}
              `)){
                var vardnica={joma:joma, pilsetas:pilsetas, vecums:vecums, diena:diena,
        laiks:laiks};
        jsonData = JSON.stringify(vardnica);
        console.log(jsonData);        
        alert("Dati saglabāti un nosūtīti!")
              } else {
                alert("Izvēlies vēlreiz!")
              }
}

      
     
        </script>
    
    
</body>

</html>
