<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vecāku pieteikums</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   	<script src='../js/vecPietLasa.js'></script>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body onload="ieliktTekstu();">
	<div class="container p-1 my-1 bg-dark text-white">
        <img src="../images/logo.png" alt="logo">
        
        <div class="container p-3 my-3 bg-primary text-white">
    	<h1>Pieteikuma forma</h1>	
		<div class="form-row">
			<div class="col-sm-7 mr-auto">
                <form class="form-horizontal">
					<label for="vec_vards">Skolēna vecāka/aizbildņa vārds<span style="color: red;"> *</span></label>
					<input type="text" id="vec_vards" name="vec_vards" class="form-control">		
					<label for="vec_uzvards">Skolēna vecāka/aizbildņa uzvārds<span style="color: red;"> *</span></label>
					<input type="text"  id="vec_uzvards" name="vec_uzvards" class="form-control">	
					<label for="vec_epasts">Vecāka/aizbildņa e-pasts<span style="color: red;"> *</span></label>
					<input type="text" id="vec_epasts" name="vec_epasts" class="form-control">		
					<label for="vec_telefons">Vecāka/aizbildņa telefona numurs<span style="color: red;"> *</span></label>
					<input type="text"  id="vec_telefons" name="vec_telefons"class="form-control"><br>	
					
					<table>
						<tbody id="nosaukums">

						</tbody>
					</table> 
					<br>
					<br>
				</form>
			</div>
		</div>
			<div class="form-row">
				<h1 align="center">Iesniegums</h1>
				<form class="form-horizontal">			
					<p> Lūdzu uzņemt manu  
            			<select id="berns" name="berns">
                			<option value="meita">meitu</option>
                			<option value="dels">dēlu</option>                
            			</select>
					</p>
					<div class="col-sm-7 mr-auto">
					<label for="sk_vards">Skolēna vārds<span style="color: red;"> *</span></label>
					<input type="text" id="sk_vards" name="sk_vards" class="form-control">		
					<label for="sk_uzvards">Skolēna uzvārds<span style="color: red;"> *</span></label>
					<input type="text"  id="sk_uzvards" name="sk_uzvards" class="form-control">
					<label for="sk_skola"> Skola<span style="color: red;"> *</span></label>
					<input type="text" id="sk_skola" name="sk_skola" class="form-control">
					<label for="sk_klase">Klase<span style="color: red;"> *</span></label>
					<input type="text"  name="sk_klase" name="sk_klase" class="form-control">
					<label for="sk_perskods">Skolēna personas kods<span style="color: red;"> *</span></label>
					<input type="text"  name="sk_perskods" name="sk_perskods" class="form-control">
					<label for="sk_adrese">Skolēna mājas adrese<span style="color: red;"> *</span></label>
					<input type="text"  name="sk_adrese" name="sk_adrese" class="form-control">
					<label for="sk_epasts">Skolēna e-pasts<span style="color: red;"> *</span></label>
					<input type="text" id="sk_epasts" name="sk_epasts" class="form-control">		
					<label for="sk_telefons">Skolēna telefona numurs<span style="color: red;"> *</span></label>
					<input type="text"  id="sk_telefons" name="sk_telefons" class="form-control"><br>	
				</div>
					<table>
						<tbody id="izvele">
						
						</tbody>
					</table> 
					<br>
					<br>
					<p>Dati, saskaņā ar 17.08.2010. MK noteikumiem Nr.788 un Personas datu aizsardzības regulas 6. panta 1. punkta c apakšpunktu, tiks izmantoti 
					IIC datu bāzes vajadzībām un reģistrēti apstrādei Valsts izglītības informācijas sistēmā (VIIS), lai nodrošinātu valsts, pašvaldību un 
					izglītības iestāžu funkciju īstenošanu izglītības jomā. Šī informācija netiks izpausta trešajām personām.
					Informējam, ka Jūsu bērns, IIC reklāmas nolūkos, var tikt fotografēts un filmēts nodarbībās un pasākumos.
					Ar IIC iekšējās kārtības noteikumiem (publicēti IIC mājaslapā) esam iepazinušies.</p><br>
		
					<label for="noteikumi">Ar noteikumiem iepazinos<span style="color: red;"> *</span></label><br>
					<input type="radio" id="not_ja" name="not_ne" value="Ja"/> Jā<br>
					<input type="radio" id="not_ne" name="not_ne" value="Nē"/> Nē<br><br>
			
					<input type="submit" value="Iesniegt">
					<input type="submit" value="Izveidot pdf datni">
					<input type="submit" value="Nolasīt datus">
				
				</form>
			</div>
		</div>
	
	</div>
</body>
