<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	 crossorigin="anonymous">
	<link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	 crossorigin="anonymous">
	</script>
	<script src='../static/js/registracija.js'>
  
	</script>
</head>

<body>
	<div class="container p-1 my-1 bg-success text-white">
		<h1>
		<img src="../static/images/logo.png" alt="logo">
		</h1>
		<div class="top-section">
			<div class="button-back-container">
				<a href="../index" class="button-back">
					<span class="button-back__icon"></span>
                <span class="button-back__text" onclick="location.href='/index()'">Uz sākumlapu</span>

            </a>
        </div> 

        <div class="container p-3 my-3 bg-warning text-white" id="iicsaturs">
                  <h2>Reģistrēt jaunu pulciņu</h2>
                    
            <div class="conteiner">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Centra nosaukums<span style="color: red;"> *</span></label>
                     <div class="col-sm-4">
                       <input class="form-control" id="Nosaukums" type="text" name="nosaukums">
                     </div>
                   </div>
                  <div class="form-group">
                   <label class="col-sm-2 control-label">Adrese<span style="color: red;"> *</span></label>
                     <div class="col-sm-4">
                      <input class="form-control" id="Adrese" type="text" name="adrese">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">E-pasts<span style="color: red;"> *</span></label>
                     <div class="col-sm-4">
                       <input class="form-control" id="Epasts" type="text" name="epasts">
                     </div>
                   </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label">Tālrunis<span style="color: red;"> *</span></label>
                     <div class="col-sm-4">
                       <input class="form-control" id="Talrunis" type="text" name="talrunis">
                     </div>
                   </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label">IIC izglītības speciālista vārds, uzvārds<span style="color: red;"> *</span></label>
                     <div class="col-sm-4">
                       <input class="form-control" id="Specialists" type="text" name="specialists">
                     </div>
                   </div>
                </form>   
                
                <br><br>
                
                <button class="poga2" onclick='registracija()'>Reģistrēt jaunu pulciņu</button>

            </div>                       
        </div>       
    </div>
 <div id="statuss"></div>     
 <div id="pulcins"></div>   
 </body>
</html>
