<!DOCTYPE html>
<html lang="lv">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='../static/js/main.js'></script>
</head>
<body>
 
<div class="container p-1 my-1 bg-success text-white">
  <h1><center>Interešu izglītības pulciņa meklēšanas sistēma</center></h1>
  
  <img src="./static/images/rokdarbi.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="136">
  <img src="./static/images/slotracing.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="136">
  <img src="./static/images/gitara.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="136">
  <img src="./static/images/robots.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="136">
  <img src="./static/images/rokas.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="136">
  
    
    <div class="btn-group">
      
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <align><centre>Izvēlies valodu</centre></align>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Latviešu</a>
        <a class="dropdown-item" href="#">Angļu</a>
        <a class="dropdown-item" href="#">Krievu</a>
      </div>
 
  
  
</div>

<div class="container p-3 my-3 bg-warning text-white">
 
  <button type="button" class="btn btn-info btn-block"onclick="location.href='IIC'">Interešu izglītības centrs
  </button>
  <button type="button" class="btn btn-info btn-block"onclick="location.href='/skolenu_izvelne'">Skolēna intereses</button>
  <button type="button" class="btn btn-info btn-block"onclick="location.href='/vecaku_pieteikums'">Vecāku pieteikums</button>
  
     
    
</div>

</button>      
          </div>
          
        
        </div>
      </div>
      
    </body>
</html>
