<!-- lapa tiek izsaukta ar kodu. pati pas sevi nestrādā. -->
<div class="container col-sm-6" id='pulcinaForma'>
    <h1>Pulciņa info</h1>
    <div class="form-horizontal">


        <form name="forma" id="forma" class="form-horizontal">
            <label for='iCentrs'>Interešu izglītības centrs</label>
            <input type="text" id="iCentrs" name="iCentrs" class="form-control"><br>
            <label for="joma" class="control-label">Interešu izglītības joma</label>
            <select id="joma" name="joma" class="form-control" onclick="ieladetJomas()">

            </select><br>

            <label for="nosaukums">Pulciņa nosaukums</label>
            <input type="text" id="nosaukums" name="nosaukums" class="form-control"><br>
            <label for="adrese">Nodarbību vietas adrese</label>
            <input type="text" id="adrese" name="adrese" class="form-control"><br>
            <label for="stunduSkaits">Stundu skaits nedēļā</label>
            <input type="number" id="stunduSkaits" name="stunduSkaits" size="2" class="form-control"><br>
            <label for="vecums">Audzēkņa vecums</label>
            <label for="vecumsNo">no</label>
            <input type="number" min="4" max="18" id="vecumsNo" name="vecumsNo" size="2" class="form-control">
            <label for="vecumsLidz">līdz</label>
            <input type="number" min="4" max="18" id="vecumsLidz" name="vecumsLidz" size="2" class="form-control"><br>
            <label for="maxAudzekni">Maksimālais audzēkņu skaits grupā</label>
            <input type="number" id="maxAudzekni" name="maxAudzekni" max="100" size="3" class="form-control"><br>
            <label for="skolotajs">Skolotāja vārds, uzvārds</label>
            <input type="text" id="skolotajs" name="skolotajs" class="form-control"><br>
            <label for="epasts">E-pasts</label>
            <input type="email" id="epasts" name="epasts" class="form-control"><br>
            <label for="talrunis">Tālrunis</label>
            <input type="tel" for="talrunis" name="talrunis" id="talrunis" class="form-control"><br>


            <div class="form-horizontal">
                <label for="diena">Izvēlies dienu un laiku</label>
                <select id="diena" name="diena">
                    <option value='none'>-</option>
                    <option value='pirmdiena'>Pirmdiena</option>
                    <option value='otrdiena'>Otrdiena</option>
                    <option value='tresdiena'>Trešdiena</option>
                    <option value='ceturtdiena'>Ceturtdiena</option>
                    <option value='piektdiena'>Piektdiena</option>
                    <option value='sestdiena'>Sestdiena</option>
                    <option value='svetdiena'>Svētdiena</option>
                </select>
                <select id='No' name='No'>
                    <option value="none">-</option>
                    <option value="8.00">8.00</option>
                    <option value="9.00">9.00</option>
                    <option value="10.00">10.00</option>
                    <option value="11.00">11.00</option>
                    <option value="12.00">12.00</option>
                    <option value="13.00">13.00</option>
                    <option value="14.00">14.00</option>
                    <option value="15.00">15.00</option>
                    <option value="16.00">16.00</option>
                    <option value="17.00">17.00</option>
                    <option value="18.00">18.00</option>
                    <option value="19.00">19.00</option>
                </select>
                <select id='Lidz' name='Lidz'>
                    <option value="none">-</option>
                    <option value="9.00">9.00</option>
                    <option value="10.00">10.00</option>
                    <option value="11.00">11.00</option>
                    <option value="12.00">12.00</option>
                    <option value="13.00">13.00</option>
                    <option value="14.00">14.00</option>
                    <option value="15.00">15.00</option>
                    <option value="16.00">16.00</option>
                    <option value="17.00">17.00</option>
                    <option value="18.00">18.00</option>
                    <option value="19.00">19.00</option>
                    <option value="20.00">20.00</option>
                </select>
                <button type="button" onclick="pievienotLaiku()" class="btn btn-primary">+</button>

                <table class='table' id='laiki'>
                    <tr>
                        <th>Diena</th>
                        <th>No</th>
                        <th>Līdz</th>
                        <th>Dzēst</th>
                    </tr>
                </table>


            </div>


            <button type="button" value="Saglabāt" class="btn btn-primary"
                onclick="nosutitPulcinaInfo()">Saglabāt</button>
            <p id="saglabats"></p>
        </form>



    </div>
</div>